AMAZON_CREATOR_CREDENTIAL_ID=your-credential-id
AMAZON_CREATOR_CREDENTIAL_SECRET=your-credential-secret
AMAZON_CREATOR_CREDENTIAL_VERSION=your-credential-version
AMAZON_PARTNER_TAG=your-partner-tag
AMAZON_MARKETPLACE=FR
